includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: max
	paths:
		- src
		- agents-api.php
	stubFiles:
		- stubs/abilities-api.php
		- stubs/abilities-api-functions.php
